{% extends "index.html" %}

{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1 class="mt-5">Witaj w mojej bibliotece filmów</h1>
        <p class="lead">Znajdziesz tutaj tylko najlepsze tytuły!</p>
    </div>
    <div class="col-lg-12 mb-4">
        <div class="btn-group" role="group">
            {% for list_type in list_selection %}
            {% if list_type == current_list %}
            <a href="{{ url_for('homepage', list_type=list_type) }}" class="btn btn-outline-info active">{{
                list_type.title()|replace("_", " ") }}</a>
            {% else %}
            <a href="{{ url_for('homepage', list_type=list_type) }}" class="btn btn-outline-info">{{
                list_type.title()|replace("_", " ") }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% for movie in movies %}
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <img class="card-img-top" src="{{ tmdb_image_url(movie.poster_path, 'w342') }}" alt="">
                <h4 class="card-title">{{movie.title}}</h4>
            </div>
            <div class="card-footer text-center">
                <a href="{{ url_for('movie_details', movie_id=movie.id) }}">Pokaż więcej</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
